<section id="details-page" class="details">
    <div class="recipe-information" *ngIf="currentProgram">
        <h3>Name: {{currentProgram.name}}</h3>
        <p class="category">Category: {{currentProgram.category}}</p>
        <p class="img"><img src={{currentProgram.image}} alt="recipeImg" /></p>
        <div class="actions" *ngIf="isOwner">
            <a class="button" routerLink="/programs/edit/{{currentProgram._id}}">Edit</a>
            <a class="button" (click)="deleteHandler()">Delete</a>
        </div>
        <div class="actions" *ngIf="!isOwner && isLiked">
            <button class="button" type="button" (click)="likeHandler()">Like</button>
        </div>
        <div class="likes">
            <img class="hearts" src="../.././images/heart.png" />
            <span id="total-likes">Likes: {{currentProgram.likes.length || 0}}</span>
        </div>
        <div class="recipe-description">
            <h3>Description:</h3>
            <p>{{currentProgram.description}}</p>
            <h4>Ingredients:</h4>
            <p>{{currentProgram.ingredients}}</p>
        </div>
        
