
<section id="dashboard-page" class="dashboard">
    <h1>Life is sweet</h1>
    <ng-container *ngIf="programs">
    <ul class="other-recipes-list" *ngFor="let program of programs">
        <li class="otherRecipe">
            <h3>Name: {{program.name}}</h3>
            <p>Category: {{program.category}}</p>
            <p class="img"><img src="{{'program.image'}}" /></p>
            <a class="button" [routerLink]="['/programs', program._id]">Details</a>
        </li>
    </ul>
    </ng-container>
    <ng-container *ngIf="!programs">
        <p class="no-recipes">No recipes in database! <a routerLink="/add-program">Create the first one</a></p>
    </ng-container>
    <section>
