<section id="dashboard-page" class="dashboard">
    <h1>Life is sweet</h1>
    <ng-container *ngIf="recipes">
        <ul class="other-recipes-list" *ngFor="let recipe of recipes">
            <li class="otherRecipe">
                <h3>Name: {{recipe.name}}</h3>
                <p>Category: {{recipe.category}}</p>
                <p class="img"><img src="{{recipe.imageUrl}}" /></p>
                <a class="button" [routerLink]="['/programs', recipe._id]">Details</a>
            </li>
        </ul>
    </ng-container>
    <ng-container *ngIf="!recipes">
        <p class="no-recipes">No recipes in database! <a routerLink="/add-program">Create the first one</a></p>
    </ng-container>
    <section>